{% extends "base.html" %}
{% block content %}
    <title>Fire Detection</title>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mb-4">Fire Detection</h1>
                <form id="uploadForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" name="image" id="imageInput" class="form-control">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="detectFire()">Detect Fire</button>
                </form>
                <div id="result" class="mt-3"></div>
            </div>
        </div>
    </div>
    <script>
        function detectFire() {
            const formData = new FormData();
            const imageInput = document.getElementById('imageInput');
            const file = imageInput.files[0];

            if (!file) {
                alert('Please select an image.');
                return;
            }

            formData.append('image', file);

            fetch('/api/fire_detection/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                resultDiv.innerText = 'Prediction: ' + data.prediction;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
