{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Create a New Marketplace</h1>
                <form id="create-marketplace-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo:</label>
                        <input type="file" id="logo" name="logo" class="form-control-file">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="createMarketplace()">Save</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function createMarketplace() {
            const form = document.getElementById('create-marketplace-form');
            const formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '/create_marketplace_api/',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log('MarketPlace created successfully:', data);
                    showSuccessAlert();
                },
                error: function (error) {
                    // Handle the error here (e.g., show an error message)
                    console.error('Error creating MarketPlace:', error);
                    showErrorAlert();
                }
            });
        }

        function showSuccessAlert() {
            Swal.fire({
                icon: 'success',
                title: 'Marketplace added successfully!',
                showConfirmButton: false,
                timer: 2000
            });
        }

        function showErrorAlert() {
            Swal.fire({
                icon: 'error',
                title: 'Error creating Marketplace!',
                text: 'Something went wrong. Please try again.',
                showConfirmButton: false,
                timer: 2000
            });
        }
    </script>

{% endblock %}
