<div class="sb-sidenav-menu-heading">Core</div>
<a class="nav-link" href="{% url 'dashboard' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    Dashboard
</a>
<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#marketplaces" aria-expanded="false"
   aria-controls="marketplaces">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Marketplaces
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>

<div class="collapse" id="marketplaces" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{% url 'create-marketplace' %}">Create Marketplace</a>
        <a class="nav-link" href="{% url 'list-marketplace' %}">List Marketplace</a>
    </nav>
</div>

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#brands" aria-expanded="false"
   aria-controls="brands">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Brands
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>

<div class="collapse" id="brands" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{% url 'create-brand' %}">Create Brands</a>
        <a class="nav-link" href="{% url 'list-brands' %}">List Brands</a>
    </nav>
</div>

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#users" aria-expanded="false"
   aria-controls="users">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Users
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>

<div class="collapse" id="users" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{% url 'create-user' %}">Add Users</a>
        <a class="nav-link" href="{% url 'list-users' %}">List Users</a>
    </nav>
</div>

<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#fire-detect" aria-expanded="false"
   aria-controls="fire-detect">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Fire Detect
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>

<div class="collapse" id="fire-detect" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="{% url 'fire-detect' %}">Detect Fire from image</a>
        <a class="nav-link" href="{% url 'list-users' %}">Detect fire from camera</a>
    </nav>
</div>
