<div class="sb-sidenav-menu-heading">Core</div>
<a class="nav-link" href="{% url 'dashboard' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    Dashboard
</a>
<a class="nav-link" href="{% url 'create-marketplace' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    Create Marketplace
</a><a class="nav-link" href="{% url 'list-marketplace' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    List Marketplace
</a>
